@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Red+Hat+Display&display=swap');

* {
    font-family: Nunito, sans-serif;
}

h1 {
    font-family: 'Red Hat Display', sans-serif;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.jc-between {
    justify-content: space-between;
}

.no-style-list {
    list-style: none;
    padding-left: 0;
}

.ss-button {
    text-decoration: none;
}